<?xml version="1.0"?>
<launch>
  <arg name="id" default="auctioneer1" />
  <include file="$(find talmech)/launch/agent.launch" >
    <arg name="id" value="$(arg id)" />
    <arg name="role" value="auctioneer" />
    <arg name="params" value="$(find murdoch)/config/$(arg id)_params.yaml" />
  </include>
</launch>
